In [1]:
#IMPORT ALL LIBRARIES
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split,RandomizedSearchCV
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor,plot_tree
from sklearn.ensemble import RandomForestRegressor

import warnings
warnings.filterwarnings('ignore', '.*do not.*', )

## 1)Problem Statement:
    To predict prices of houses in delhi.

## 2)Data Gathering

In [2]:
df=pd.read_csv('Delhi_v2.csv')
df

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7733,7733,7900000.0,"Indirapuram, Ghaziabad, Delhi NCR",1095.0,28.635272,77.370395,2.0,2.0,NaN,Ready to Move,Resale,NaN,NaN,NaN,NaN,Flat,\n \n \n...,7214.611872
7734,7734,4510000.0,"Greater Noida, Sector 2, Greater Noida, Delhi NCR",1060.0,28.581431,77.452819,2.0,2.0,3.0,NaN,Resale,NaN,Semi-Furnished,NaN,ek murti chowk,Flat,\n \n \n...,4254.716981
7735,7735,7000000.0,"Crossings Republik, Ghaziabad, Delhi NCR",1898.0,28.625850,77.435336,4.0,3.0,5.0,Ready to Move,Resale,NaN,NaN,NaN,NaN,Flat,\n \n \n...,3688.092729
7736,7736,6500000.0,"Raj Nagar Extension, Ghaziabad, Raj Nagar Exte...",1400.0,28.701622,77.430153,3.0,3.0,2.0,Ready to Move,Resale,1.0,NaN,3.0,vvip mall,Flat,\n \n \n...,4642.857143
7737,7737,6500000.0,"sandal apartment, Shalimar Garden Extension 1,...",1750.0,28.693590,77.344376,3.0,2.0,3.0,Ready to Move,New Property,NaN,NaN,NaN,NaN,Flat,\n,3714.285714

## 3)Exploratory Data Analysis

##### 3.1)To know our data

In [3]:
df.sample(3)

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
5370,5370,6500000.0,"Plot No. Gh- 1, Sector- 4b, Vasundhara Ghaziab...",1410.0,28.669033,77.376806,3.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,2.0,Near Mewar Institute,Individual House,\n \n \n...,4609.929078
7637,7637,6500000.0,"Mahavir enclave part 1 Delhi 110045, Mahavir E...",900.0,28.598036,77.076525,3.0,2.0,4.0,Ready to Move,Resale,NaN,Semi-Furnished,NaN,Dasrat puri metro,Flat,\n,7222.222222
154,154,7400000.0,"Vasundhara, Ghaziabad, Delhi NCR",1530.0,28.655782,77.352783,3.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,NaN,Near country inn Hotel,Flat,\n \n \n...,4836.601307

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7738 non-null   int64
 1   price             7738 non-null   float64
 2   Address           7738 non-null   object
 3   area              7738 non-null   float64
 4   latitude          7738 non-null   float64
 5   longitude         7738 non-null   float64
 6   Bedrooms          7738 non-null   float64
 7   Bathrooms         7738 non-null   float64
 8   Balcony           5166 non-null   float64
 9   Status            7164 non-null   object
 10  neworold          7738 non-null   object
 11  parking           2612 non-null   float64
 12  Furnished_status  4124 non-null   object
 13  Lift              1733 non-null   float64
 14  Landmarks         2759 non-null   object
 15  type_of_building  7738 non-null   object
 16  desc              7738 non-null   object
 17  Price_sqft        7738 non-null   float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.1+ MB

NOTE:
    1)Drop columns>>>Unnamed,landmarks
    2)Group addresses into north,south,east and west delhi using label encoding
    3)Price>>Target Column
    4)Column "Status,type_of_building,desc,neworold" convert to float using label encoding

In [5]:
df.isna().mean()*100

Unnamed: 0           0.000000
price                0.000000
Address              0.000000
area                 0.000000
latitude             0.000000
longitude            0.000000
Bedrooms             0.000000
Bathrooms            0.000000
Balcony             33.238563
Status               7.417937
neworold             0.000000
parking             66.244508
Furnished_status    46.704575
Lift                77.604032
Landmarks           64.344792
type_of_building     0.000000
desc                 0.000000
Price_sqft           0.000000
dtype: float64

#Column "parking","Furnished_status","Landmarks" & "Landmarks" have majority of null values therefore drop them
#Column "Balcony" and "Status" has null values which can be imputed

In [6]:
df.describe()

,Unnamed: 0,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,parking,Lift,Price_sqft
count,7738.000000,7.738000e+03,7738.000000,7738.000000,7738.000000,7738.000000,7738.000000,5166.000000,2612.000000,1733.000000,7738.000000
mean,3868.500000,8.320635e+06,1409.506591,28.552092,77.273476,2.708193,2.501163,2.426442,7.673047,1.829198,5543.660241
std,2233.912524,7.223197e+06,718.929581,0.107420,0.180606,0.877026,0.867050,1.083677,60.417508,1.192607,2408.659307
min,0.000000,1.700000e+06,501.000000,28.240023,76.884101,2.000000,2.000000,1.000000,1.000000,0.000000,2100.000000
25%,1934.250000,4.200000e+06,990.000000,28.455539,77.078590,2.000000,2.000000,2.000000,1.000000,1.000000,3950.986915
50%,3868.500000,6.000000e+06,1250.000000,28.574637,77.345320,3.000000,2.000000,2.000000,1.000000,2.000000,4972.674332
75%,5802.750000,9.500000e+06,1650.000000,28.642520,77.421054,3.000000,3.000000,3.000000,2.000000,2.000000,6350.638693
max,7737.000000,8.500000e+07,9500.000000,28.799748,77.688028,10.000000,10.000000,10.000000,1406.000000,10.000000,44378.698225

## 4)Feature Engineering

In [7]:
df["Status"].unique()

array(['Under Construction', 'Ready to Move', nan], dtype=object)

In [8]:
df["Status"].value_counts()

Ready to Move         7148
Under Construction      16
Name: Status, dtype: int64

In [9]:
df["Status"].mode()[0]

'Ready to Move'

In [10]:
df["Status"]=df["Status"].fillna(df["Status"].mode()[0])

In [11]:
df["Status"].value_counts().to_dict()

{'Ready to Move': 7722, 'Under Construction': 16}

In [12]:
df["Status"]=df["Status"].replace({'Ready to Move': 1, 'Under Construction': 0})

In [13]:
df["Balcony"].value_counts()

2.0     1793
3.0     1516
1.0     1082
4.0      613
5.0      130
6.0       21
7.0        4
10.0       3
8.0        3
9.0        1
Name: Balcony, dtype: int64

In [14]:
df["Balcony"].fillna(df["Balcony"].median(),inplace=True)

In [15]:
df["neworold"].value_counts().to_dict()

{'Resale': 6905, 'New Property': 833}

In [16]:
df["neworold"].replace({'Resale': 0, 'New Property': 1},inplace=True)

In [17]:
df['Furnished_status'].value_counts().to_dict()

{'Semi-Furnished': 2199, 'Unfurnished': 1230, 'Furnished': 695}

In [18]:
df['Furnished_status'].replace({'Semi-Furnished': 1, 'Unfurnished': 0, 'Furnished': 2},inplace=True)

In [19]:
df['Furnished_status'].mean()

0.8702715809893308

In [20]:
df['Furnished_status'].fillna(df['Furnished_status'].median(),inplace=True)

In [21]:
df["type_of_building"].value_counts().to_dict()

{'Flat': 6226, 'Individual House': 1512}

In [22]:
df["type_of_building"].replace({'Flat': 1, 'Individual House': 2},inplace=True)

In [23]:
#Drop this column
df["desc"].unique()

array(["\n\n\n                                Welcome To Smart Home - SKA Divya Towers is a fabulous new residential development launched by a reputed builder SKA Group located in Noida Extension (Greater Noida West), this is an amazing high quality residential development with opulent 3 BHK apartments. SKA Divya Towers Noida Extension give you the all modern facilities and amenities like a clubhouse, basketball, swimming pool, kid's pool, gym, pool table, table tennis, elderly sitting spaces and more greenery. Also give you the best connectivity which all the major area of the Noida, Greater Noida, Ghaziabad. Construction will be done with the latest construction technologies which benefit both the environment and residents.\n                            \nmore\n\n",
       "\n\n\n                                Mapsko MountVille is an artistic representation customized for those who apprehend the merit of luxury and abundance of greenery. Nestled in sector-79, Gurugram, offering 3-4 BHK luxury apartments in gurgaon is a pure model of urban architecture, which is designed to perfection. Aravali is a quintessential complement to this wonderful project, which has been marvelously arranged by the World's leading landscape architects- LSG Inc, USA and structured by Shapoorji Pallonji.\n                            \nmore\n\n",
       '\n\n\n                                This project is spread across 7 acres of lush green land. The modern architecture of the apartments perfectly complements the dream home desire of buyers. With 4-sided ventilation, wooden flooring and a modular kitchen, Cloud 9 Vaishali aims to provide residents a smooth, and a modern cosmopolitan lifestyle.\n                            \nmore\n\n',
       ...,
       '\n                    \n                    \n                    \n                       this property  spacious  like 3 bhk\n                    \n                ',
       '\n                    \n                    \n                    \n                        This Multistorey Apartment is located at 8th floor in a building of total 18 floors. Modern construction is done in this newly built Multistorey Apartment. \n                    \n                ',
       '\n                    \n                    \n                    \n                       vvip flat available for sale 3bhk unit below 10th floor\n                    \n                '],
      dtype=object)

In [24]:
city_name=[]
city_name1=[]

for city in df['Address']:
    var=city.split(",")
    city_name.append(var[-1])
    city_name1.append(var[-2])
# print(city_name)
# print(city_name1)
    
df['city_name1']=city_name1    
# df.head()
s1=pd.Series(city_name1)
df['city_name1'].value_counts()

 Ghaziabad              2096
 Gurgaon                1815
 Noida                  1091
 Greater Noida           961
 Faridabad               472
 New Delhi - West        440
 New Delhi - South       330
 New Delhi - Dwarka      188
 New Delhi - East        182
 New Delhi - Rohini       81
 New Delhi - North        53
 New Delhi - Central      12
 New Delhi                 7
 Gurgaon - South           5
Noida                      3
 Gurgaon - North           1
Greater Noida              1
Name: city_name1, dtype: int64

## 5)Feature Selection

In [25]:
df=df.drop(["Unnamed: 0","Address","parking","Lift","Landmarks","desc"],axis=1)

In [27]:
df

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,Furnished_status,type_of_building,Price_sqft,city_name1
0,5600000.0,1350.0,28.608850,77.460560,3.0,3.0,2.0,0,1,1.0,1,4148.148148,Noida
1,8800000.0,1490.0,28.374236,76.952416,3.0,3.0,2.0,1,1,1.0,1,5906.040268,Gurgaon
2,16500000.0,2385.0,28.645769,77.385110,4.0,5.0,2.0,1,1,0.0,1,6918.238994,Ghaziabad
3,3810000.0,1050.0,28.566914,77.436434,2.0,2.0,3.0,1,1,0.0,1,3628.571429,Greater Noida
4,6200000.0,1350.0,28.520732,77.356491,2.0,2.0,3.0,1,0,1.0,1,4592.592593,Noida
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7733,7900000.0,1095.0,28.635272,77.370395,2.0,2.0,2.0,1,0,1.0,1,7214.611872,Ghaziabad
7734,4510000.0,1060.0,28.581431,77.452819,2.0,2.0,3.0,1,0,1.0,1,4254.716981,Greater Noida
7735,7000000.0,1898.0,28.625850,77.435336,4.0,3.0,5.0,1,0,1.0,1,3688.092729,Ghaziabad
7736,6500000.0,1400.0,28.701622,77.430153,3.0,3.0,2.0,1,0,1.0,1,4642.857143,Ghaziabad
7737,6500000.0,1750.0,28.693590,77.344376,3.0,2.0,3.0,1,1,1.0,1,3714.285714,Ghaziabad

In [37]:
counts=df['city_name1'].value_counts()
df['city_name1'].nunique()
threshold=100
rep=counts[counts<=threshold].index
df1=pd.get_dummies(df['city_name1'].replace(rep,'uncommon'))

In [41]:
final_df=pd.concat([df,df1],axis=1,ignore_index=False,join='outer')

In [42]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   price                7738 non-null   float64
 1   area                 7738 non-null   float64
 2   latitude             7738 non-null   float64
 3   longitude            7738 non-null   float64
 4   Bedrooms             7738 non-null   float64
 5   Bathrooms            7738 non-null   float64
 6   Balcony              7738 non-null   float64
 7   Status               7738 non-null   int64
 8   neworold             7738 non-null   int64
 9   Furnished_status     7738 non-null   float64
 10  type_of_building     7738 non-null   int64
 11  Price_sqft           7738 non-null   float64
 12  city_name1           7738 non-null   object
 13   Faridabad           7738 non-null   uint8
 14   Ghaziabad           7738 non-null   uint8
 15   Greater Noida       7738 non-null   uint8
 16   Gurgaon             7738 non-null   uint8
 17   New Delhi - Dwarka  7738 non-null   uint8
 18   New Delhi - East    7738 non-null   uint8
 19   New Delhi - South   7738 non-null   uint8
 20   New Delhi - West    7738 non-null   uint8
 21   Noida               7738 non-null   uint8
 22  uncommon             7738 non-null   uint8
dtypes: float64(9), int64(3), object(1), uint8(10)
memory usage: 861.6+ KB

In [44]:
final_df=final_df.drop('city_name1',axis=1)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   price                7738 non-null   float64
 1   area                 7738 non-null   float64
 2   latitude             7738 non-null   float64
 3   longitude            7738 non-null   float64
 4   Bedrooms             7738 non-null   float64
 5   Bathrooms            7738 non-null   float64
 6   Balcony              7738 non-null   float64
 7   Status               7738 non-null   int64
 8   neworold             7738 non-null   int64
 9   Furnished_status     7738 non-null   float64
 10  type_of_building     7738 non-null   int64
 11  Price_sqft           7738 non-null   float64
 12   Faridabad           7738 non-null   uint8
 13   Ghaziabad           7738 non-null   uint8
 14   Greater Noida       7738 non-null   uint8
 15   Gurgaon             7738 non-null   uint8
 16   New Delhi - Dwarka  7738 non-null   uint8
 17   New Delhi - East    7738 non-null   uint8
 18   New Delhi - South   7738 non-null   uint8
 19   New Delhi - West    7738 non-null   uint8
 20   Noida               7738 non-null   uint8
 21  uncommon             7738 non-null   uint8
dtypes: float64(9), int64(3), uint8(10)
memory usage: 801.1 KB

## 6)Model Training

In [45]:
x=final_df.drop("price",axis=1)
y=final_df['price']

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=5)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((5416, 21), (2322, 21), (5416,), (2322,))

# LINEAR_REGRESSION

In [47]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

## 7)Model Evaluation

In [48]:
y_pred_test=lr.predict(x_test)
def test_train_data(y_actual,y_predicted):
    mse=mean_squared_error(y_actual,y_predicted)
    print("mean_squared_error==",mse)
    rmse=np.sqrt(mse)
    print("rmse==",rmse)
    mae=mean_absolute_error(y_actual,y_predicted)
    print("mean_absolute_error==",mae)
    R2=r2_score(y_actual,y_predicted)
    print("r2_score==",R2)

In [49]:
test_train_data(y_test,y_pred_test)

mean_squared_error== 3188823217383.096
rmse== 1785727.643674448
mean_absolute_error== 968979.3540048043
r2_score== 0.9382678484628982

In [50]:
y_pred_train=lr.predict(x_train)
test_train_data(y_train,y_pred_train)

mean_squared_error== 3544775118632.805
rmse== 1882757.318039902
mean_absolute_error== 991889.965889494
r2_score== 0.9323029065473427

# KNNREGRESSOR

In [51]:
#Transforming data to normal_scaling
from sklearn.preprocessing import MinMaxScaler

In [52]:
norm_scaler=MinMaxScaler()
x_train_trf=norm_scaler.fit_transform(x_train)
x_test_trf=norm_scaler.transform(x_test)

In [53]:
knn_reg=KNeighborsRegressor()
knn_reg.fit(x_train_trf,y_train)

KNeighborsRegressor()

In [54]:
y_pred_test_knn=knn_reg.predict(x_test_trf)
test_train_data(y_test,y_pred_test_knn)

mean_squared_error== 12248890744186.047
rmse== 3499841.5312962453
mean_absolute_error== 1605947.459086994
r2_score== 0.7628747885867344

In [55]:
y_pred_train_knn=knn_reg.predict(x_train_trf)
test_train_data(y_train,y_pred_train_knn)

mean_squared_error== 6979201098966.026
rmse== 2641817.7641476383
mean_absolute_error== 1287301.329394387
r2_score== 0.8667132291303656

Assumption Accuracy=90%
Training Accuracy=86%
Testing_Accuracy=76%

LOW BIAS & HIGH VARIANCE >>> OVERFIT MODEL
Therefore go for hyperparameter tuning

#### Hyperparameter tuning

In [56]:
knn_reg_hyp=KNeighborsRegressor()

In [ ]:
# n_neighbors : int, default=5
#     Number of neighbors to use by default for :meth:`kneighbors` queries.

In [ ]:
# p : int, default=2
#     Power parameter for the Minkowski metric. When p = 1, this is
#     equivalent to using manhattan_distance (l1), and euclidean_distance
#     (l2) for p = 2. For arbitrary p, minkowski_distance (l_p) is used.

In [57]:
hyp={'n_neighbors':np.arange(5,25),'p':[1,2]}

In [58]:
rscv=RandomizedSearchCV(knn_reg_hyp,hyp)
rscv.fit(x_train_trf,y_train)

RandomizedSearchCV(estimator=KNeighborsRegressor(),
                   param_distributions={'n_neighbors': array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24]),
                                        'p': [1, 2]})

In [59]:
rscv.best_estimator_

KNeighborsRegressor(n_neighbors=7)

In [60]:
knn_reg_hyp=rscv.best_estimator_

In [61]:
y_pred_test_knn=knn_reg_hyp.predict(x_test_trf)
test_train_data(y_test,y_pred_test_knn)

mean_squared_error== 13188396559967.656
rmse== 3631583.202952626
mean_absolute_error== 1658817.5218407777
r2_score== 0.7446869771478128

In [62]:
y_pred_train_knn=knn_reg_hyp.predict(x_train_trf)
test_train_data(y_train,y_pred_train_knn)

mean_squared_error== 8405252540469.66
rmse== 2899181.3569471054
mean_absolute_error== 1430847.752690441
r2_score== 0.8394789097524405

Assumption Accuracy=90%
Training Accuracy=84%
Testing_Accuracy=77%
HIGH BIAS & HIGH VARIANCE >>> OVERFIT MODEL
Therefore go for decision tree

# DECISIONTREE

In [63]:
dt_model=DecisionTreeRegressor(random_state=20)
dt_model.fit(x_train,y_train)

DecisionTreeRegressor(random_state=20)

In [64]:
y_pred_test_dt=dt_model.predict(x_test)
test_train_data(y_test,y_pred_test_dt)

mean_squared_error== 922222437553.8329
rmse== 960324.1315065621
mean_absolute_error== 215602.92850990526
r2_score== 0.9821467759781589

In [65]:
y_pred_train_dt=dt_model.predict(x_train)
test_train_data(y_train,y_pred_train_dt)

mean_squared_error== 0.0
rmse== 0.0
mean_absolute_error== 0.0
r2_score== 1.0

#### Hyperparameter tuning

In [66]:
dt_model_hyp=DecisionTreeRegressor()

In [67]:
# criterion : {"squared_error", "friedman_mse", "absolute_error",             "poisson"}, default="squared_error"
#     The function to measure the quality of a split. Supported criteria
#     are "squared_error" for the mean squared error, which is equal to
#     variance reduction as feature selection criterion and minimizes the L2
#     loss using the mean of each terminal node, "friedman_mse", which uses
#     mean squared error with Friedman's improvement score for potential
#     splits, "absolute_error" for the mean absolute error, which minimizes
#     the L1 loss using the median of each terminal node, and "poisson" which
#     uses reduction in Poisson deviance to find splits.

In [68]:
# max_depth : int, default=None
#     The maximum depth of the tree. If None, then nodes are expanded until
#     all leaves are pure or until all leaves contain less than
#     min_samples_split samples.

# min_samples_split : int or float, default=2
#     The minimum number of samples required to split an internal node:

#     - If int, then consider `min_samples_split` as the minimum number.
#     - If float, then `min_samples_split` is a fraction and
#       `ceil(min_samples_split * n_samples)` are the minimum
#       number of samples for each split.

In [69]:

# min_samples_leaf : int or float, default=1
#     The minimum number of samples required to be at a leaf node.
#     A split point at any depth will only be considered if it leaves at
#     least ``min_samples_leaf`` training samples in each of the left and
#     right branches.  This may have the effect of smoothing the model,
#     especially in regression.

#     - If int, then consider `min_samples_leaf` as the minimum number.
#     - If float, then `min_samples_leaf` is a fraction and
#       `ceil(min_samples_leaf * n_samples)` are the minimum
#       number of samples for each node.

In [70]:
hyp={'criterion':['squared_error','absolute_error'],
    'max_depth':np.arange(5,15),
    'min_samples_split':np.arange(2,5),
    'min_samples_leaf':np.arange(1,5),
    'random_state':np.arange(5,100,10),
   }

In [71]:
rscv=RandomizedSearchCV(dt_model_hyp,hyp,cv=7)
rscv.fit(x_train,y_train)

RandomizedSearchCV(cv=7, estimator=DecisionTreeRegressor(),
                   param_distributions={'criterion': ['squared_error',
                                                      'absolute_error'],
                                        'max_depth': array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14]),
                                        'min_samples_leaf': array([1, 2, 3, 4]),
                                        'min_samples_split': array([2, 3, 4]),
                                        'random_state': array([ 5, 15, 25, 35, 45, 55, 65, 75, 85, 95])})

In [78]:
rscv.best_estimator_

DecisionTreeRegressor(max_depth=14, min_samples_leaf=3, random_state=65)

In [79]:
rscv.best_params_

{'random_state': 65,
 'min_samples_split': 2,
 'min_samples_leaf': 3,
 'max_depth': 14,
 'criterion': 'squared_error'}

In [80]:
dt_hyp_model=DecisionTreeRegressor(random_state= 5,
 min_samples_split= 2,
 min_samples_leaf= 1,
 max_depth= 12,
 criterion= 'squared_error')

In [81]:
dt_hyp_model.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=12, random_state=5)

In [82]:
y_pred_test_dt_hyp=dt_hyp_model.predict(x_test)
test_train_data(y_test,y_pred_test_dt_hyp)

mean_squared_error== 1115861774588.9478
rmse== 1056343.587375314
mean_absolute_error== 234894.57099397632
r2_score== 0.9783981288809374

In [83]:
y_pred_train_dt_hyp=dt_hyp_model.predict(x_train)
test_train_data(y_train,y_pred_train_dt_hyp)

mean_squared_error== 5768694349.845719
rmse== 75951.921304505
mean_absolute_error== 33070.68643405886
r2_score== 0.9998898311381028

In [84]:
#GENERALIZED MODEL

## 8)Testing

In [85]:
# import pickle
# with open ('dt_hyp_model.pkl','wb') as file:
#     pickle.dump(dt_hyp_model,file)

In [ ]:
!pip install flask